packages: [
  "atom-ternjs"
  "auto-update-packages"
  "autocomplete-flow"
  "autocomplete-modules"
  "ava"
  "editorconfig"
  "file-icons"
  "language-babel"
  "linter"
  "linter-eslint"
  "linter-flow"
  "minimap"
  "oceanic-next"
  "open-recent"
  "package-sync"
  "php-debug"
  "pigments"
  "react"
  "release-notes"
  "sync-settings"
  "term3"
  "todo-show"
  "Zen"
]
